body{
    font-family: 'Circular Std Book' !important;
}
.font-16{
    font-size: 16px;
}
.block-title {
    font-size: 2.12rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
    color: #22262A;
    text-align: center;
    margin: 0 auto;
}    
.block-subtitle {
    margin: 0 auto 3.5rem auto;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Roboto";
    color: #7D7D7D;
}