.header-top{
    position: relative;
    z-index: 1100;
    .top-links{
        font-weight: 500;
    }
}
.sticky-top{
    top: -1px;
    .logo{
        &__img{
            width: 45px;
        }
        &__heading{
            font-family: 'Circular Std';
            font-weight: 500;
            font-size: 1rem;
            color: $text-color;
        }
    }
    .navbar-light{
        .navbar-nav {
            .nav-link {
                color:$text-color;
            }
            .search-icon{
                border: 0.06rem solid #BDBDBD;
                padding: 4px 12px;
                border-radius: 20px;
            }
        }
    } 
    // .nav-link{
    //     color: $text-color;
    // }
}
